<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilePathLog" value="C:\logs\ChangeCalculator.log"/>
    <add key="BillProcessor" value="false"/>
    <!--
     Configuração de log nan tag LogType tem que ser configurado os possíveis valores:
          EventViewer = 1
          File = 2
     -->
    <add key="LogType" value="2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
